* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 99.9%;
  position:fixed;
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  max-width:480px;
  height: 100%;
  max-width: 450px;
  /* border: 1px solid; */
  padding: 0.5rem 0;
  margin: auto;
  background: #eee;
  overflow:hidden;
  position:relative;
}

/* Search Box Style */

.search {
  display: flex;
  width: 320px;
  padding: 14px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 12px;
  background: #fff;
  margin: 20px auto;
  position: relative;
  /* top: 4%; */
  z-index: 999;
}

.box {
  display: flex;
  width: 280px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.search_engine {
  display: flex;
  align-items: center;
  gap: 8px;
  fill: #98c75d;
  width:100%;
  position:relative;
  z-index:999;
}

.search_engine p{
  width:100%;
}

.search_engine input{
  width:95%;
  padding:.25rem .75rem;
  border:1px solid #ddd;
}

.mic {
  width: 24px;
  height: 24px;
  background: #98c75d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right:.5rem;
}

.mic_icon {
  width: 13.333px;
  height: 13.333px;
  flex-shrink: 0;
}

/* Map */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

#map {
  position: absolute !important;
  left: 0;
  top: 0;
  overflow: hidden;
}

/* Detail Option Box */
.detail_box {
  position: absolute;
  height: 270px;
  width: 90%;
  bottom: 10%;
  left:50%;
  transform:translateX(-50%);
}

.detail_box .wrapper {
  background: #fff;
  border-radius: 30px;
}

.title {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  position:relative;
}

h2 {
  color: #000;
  font-family: 'SF Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 590;
  line-height: 22px; /* 137.5% */
  position: relative;
  margin: auto;
}

.link {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.link a {
  /* text-decoration: none; */
  color: #222;
  font-family: 'SF Pro';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.letterinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

/* Footer Style */

footer {
  margin: auto;
  /* border: 1px solid #000; */
  display: flex;
  width: 100%;
  padding: 12px 24px 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  bottom: 0;
  background: #fff;
  z-index:999;
}

.left,
.middle,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.line1,
.line2 {
  width: 1px;
  height: 20px;
  flex-shrink: 0;
  background: #d9d9d9;
}

p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.detail_box{
  display:none;
}

.letterinfo {
  width: 100%;
  /* padding: 1rem; */
  padding: 1.25rem 1rem 0.5rem 1rem;
}

.letterinfo .p {
  color: #000;
  font-family: 'SF Pro';
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: 140%; /* 16.8px */
}

.letterinfo > div {
  display: flex;
  column-gap: 0.5rem;
  color: #000;
  font-family: 'SF Pro';
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: 140%; /* 16.8px */
}

.boxinfo {
  display: flex;
  column-gap: 0.5rem;
  padding: 0 1rem;
}

.boxinfo > div {
  width: 25%;
  background: #ddd;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.25rem 0;
  border-radius: 18px;
  background: #ec7272;
}

.boxinfo > div:nth-child(4) {
  background: #41c6ff;
}

.boxinfo > div > h3 {
  /* font-size: 0.9375rem; */
  color: #000;
  font-family: 'SF Pro';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.line {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 0.0675rem 0;
}

.loading{
  width:100%;
  height:100vh;
  background:#fff;
  z-index:2;
  position:absolute;
  left:0;
  top:0;
  border:1px solid #ddd;
}

.close{
  position:absolute;
  right:.75rem;
  top:0;
  padding:1rem;
  cursor:pointer;
}